/* css Zen Garden submission 143 - 'Pixelisation', by Lim Yuan Qing, http://yuanqing.blogspot.com/ */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */
/* All associated graphics copyright 2004, Lim Yuan Qing */
/* Added: Dec. 16th, 2004 */

/* IMPORTANT */
/* This design is not a template. You may not reproduce it elsewhere without the 
   designer's written permission. However, feel free to study the CSS and use 
   techniques you learn from it elsewhere. */


/* ---------- misc ---------- */

* {
  padding: 0;
  margin: 0;
  border: 0;
}
body	{
  background: white;
  color: #666; 
  font: 11px/1.3em Arial, Tahoma, sans-serif;
  text-align: center;
}
abbr {
  cursor: help;
}

/* ---------- div ---------- */

.page-wrapper{
  margin: 30px auto;
  border: 1px solid #ddd;
  text-align: left;
  width: 448px !important;
  /* width :450px;*/

  background-color: rgb(238, 238, 238);
  border: 0.5mm solid rgb(221, 221, 221);
  box-shadow: 2px 2px 5px #999;
  border-radius: 20px;
  height: 2020px;
}
.intro {
  /*background: transparent url(intro.gif) no-repeat 0 0;-*/
}
.page-wrapper, .intro {
  /*position: relative;*/
}
header {
  width: 448px;
  height: 160px;
  margin: 3em;
}
.preamble, .supporting {
  position: relative;
  top: -70px;
  width: 303px;
  left: -60px;
}
.explicacion{
  position: relative;
  top: -75px;
  width: 323px;
  left: -100px;
}

.explanation{
  position: relative;
  width: 400px;
  left: 120px;
}
.requirements {
  padding-bottom: 2px;
}
.participation{
  width: 300px;
}
footer {
  text-align: center;
  font: 10px/33px Tahoma, Arial, sans-serif;
  width: 100%;
  height: 35px;
}
.summary, .sidebar {
  position: relative;
  left: 290px;
  width: 200px;
  font: 10px/1.5em Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}
/* Todos los divs que tengan como role "article"*/
div[role="article"], .sidebar{
  border-radius:10px;
  border: 0.5mm solid rgb(221, 221, 221);
  background-color: rgb(238, 238, 238);
  margin:15px;
  padding: 10px;
  border-radius:10px;
  border: 0.5mm solid rgb(221, 221, 221);
  /*background-color: rgb(238, 238, 238);*/
  background-color: whitesmoke;
  box-shadow: 2px 2px 5px #999;
}

div[role="article"]:hover {
  background-color: #ddd;
}

.summary {
  top: -50px;
  /* float: left;*/
}
.benefits{
  position: relative;
  width: 200px;
  left: 75px;
}
.requirements{
  position: relative;
  width: 350px;
  left: -50px;
  top: 1px;
}
.sidebar {
  position: relative;
  top: -1100px;
  background-color: white;
}
.sidebar div {
  text-align: center;
}
.design-selection, .design-archives, .zen-resources {
  padding: 5px 0 10px;
}

/* ---------- h3 ---------- */
h1{
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;

}
h2{
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 5.7em;
  letter-spacing: 1px;
  line-height: 1em;
  height: 1500px;
  width: 400px;
}

h3	{
  margin: 7px 15px 3px;
  background-position: 0 0;
  background-repeat: no-repeat;

  font: 10px/10px sans-serif; /* stop IE from revealing unnecessary bg */
  font-weight:bold;
  width: 273px;
  height: 28px;
}
.sidebar h3 {
  margin: 0 10px;
  width: 120px;
  height: 10px;
}

/* ---------- p ---------- */

p {
  padding: 0 15px 5px;
  text-align: justify;
}
.supporting p {
  /*  margin-right: 045px;*/
}
.summary p {
  padding: 3px 12px 0;
  text-align: left;
  margin-bottom:10px;
}

/* ---------- a ---------- */

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #666;
}
a:hover, a:active {
  color: #000;
}
.supporting a {
  font-weight: bold;
}
footer a {
  padding: 0 1px;
  font-weight: normal;
}
.summary a:link, .summary a:visited, footer a:link, footer a:visited {
  border-bottom: 1px dotted #888;
}
.summary a:hover, .summary a:active, footer a:hover, footer a:active {
  border-bottom: 1px dotted #222;
}
.sidebar a:link, .sidebar a:visited {
  text-transform: lowercase;
  color: #888;
}
.design-selection a:link.c, .design-selection a.designer-name:visited {
  display: inline;
  color: #666;
}
.sidebar a:hover, .sidebar a:active, .design-selection a.designer-name:hover, .design-selection a.designer-name:active {
  color: #000;
}
.design-selection a {
  display: block;
  text-transform: lowercase;
}

/* ---------- ul, li ---------- */

ul {
  margin: 5px 10px 0;
  border-top: 1px solid #ddd;
  text-align: left;
  list-style: none;
}
li {
  padding: 3px 0 3px 20px;
  border-bottom: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: 6px 5px;
  display: block;
  list-style: none;
}
li:hover {
  background-color: #f3f3f3;
}

/* ---------- the unused ---------- */

extra1, extra2, extra3, extra4, extra5, extra6 {
  display: none;
}
